*,
*:before,
*:after {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: #e0d1fd;
}

.container{
    background-color: white; /* use for creating a box around*/
    width: 40%;
    min-width: 500px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%; /* use for centering */
    left: 50%;
    padding: 20px 0 50px; 
    /* Shorthand version
    Padding has four values:
    - top paddding, right padding, bottom padding, and left padding
    */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display{
    position: relative;
    width: 92%;
    background-color: white;
    left: 4%;
    font-family: 'Trebuchet MS', sans-serif;
    color: #8c52ff;
    font-size: 25px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons{
    width: 90%;
    margin: 60px auto 0 auto; /* 4 values similar to padding */
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 120px;
    height: 45px;
    background-color: #d1bbfc;
    color: white;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.buttons button:nth-last-child(2){
    background-color: #e35209;
}

.buttons button:nth-last-child(1){
    background-color: #f7df1e;
}

.buttons button:hover{
    box-shadow:0 0 20px rgba(0, 0, 0, 0.25);;
}